---
layout: default
---

<!-- 如果该页又page.title,则显示page.title -->
{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

<!-- 如果site.posts.size > 0 即发布分文章数大于0 -->
{%- if site.categories[page.category].size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">{{ page.category }}</span>
      </h1>
      <!-- 如果设置了 site.plainwhite.search 为true, 则显示搜索条 -->
      <!-- {% if site.plainwhite.search_category %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %} -->
    </li>

    <!-- 遍历该category下的文章 -->
    {%- for post in site.categories[page.category] -%}
      <li>
        <!-- 如果设置了 site.plainwhite.date_format,则使用这个日志格式,否则使用默认格式 -->
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <!-- 显示文章的title, escape -->
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <!-- 显示文章的日期 -->
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          <!-- 如果这个post有分类标签,则显示所有的分类标签 -->
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <a href="/categories/{{ tag }}">
              <li>{{ tag }}</li>
            </a>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        <div class="post">
          <!-- 如果设置了 site.show_excerpts,则显示每篇文章的摘要 -->
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
